#col {
    column-count: 2;
    
  }
  #coll{
    display: flex;
  }
  #display{
    display: flex;
  }
  .blur {
    color: black;
  }
  body 
{  
  border: 80px solid burlywood;
  border-radius: 10px;
    font-family: 'Roboto Slab', serif;
}
body{
  padding: 20px;
    margin: 90px;
    background-repeat: no-repeat;
    background-image: ulr("photo.JPEG");
    font-size: small;
    text-align: left;
  }
  
  h1{
    display: inline-block
  }
  .color1{
    background-color:white; 
    
    
  }
  .color2{
    background-color: rgb(122, 177, 177);
  }
  .image{
    border-radius: 40%;
    background-color:rgb(122, 177, 177) ;
    margin-left: 20%;
  }
  h1{
    font-size: 25px;
    padding:0px;
  }
 
  
   